<div class="main vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex">
        <div>
            <app-logo></app-logo>
            <div class="p-3 card card-shadow">
                <!-- reset password -->
                <app-form [formFields]="validateOTPField"
                    [formGroup]="validateOTPForm"
                    (formEmitter)="submit()">
                </app-form>
                <div class="text-center">
                    <button class="btn bg-dark rounded-pill text-white"
                        [disabled]="!validateOTPForm.valid"
                        (click)="submit()">
                        Change password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>