<div class="main vh-100 d-flex justify-content-center align-items-center bg-orange-light">
    <div class="d-flex card-shadow p-3">
        <div>
            <img src="../../../../assets/password.webp" alt=""
                height="400px">
        </div>
        <div class="p-3">
            <app-logo variant="light"></app-logo>
            <div class="p-3">
                <!-- reset password -->
                <app-form [formFields]="validateOTPField"
                    [formGroup]="validateOTPForm"
                    (formEmitter)="submit()">
                </app-form>
                <div class="float-end">
                    <button class="btn btn-orange rounded-pill"
                        [disabled]="!validateOTPForm.valid"
                        (click)="submit()">
                        Change password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>