
<div class="main vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex pt-5">
        <div class="card card-shadow d-flex flex-row">
            <div class="">
                <img src="https://static.naukimg.com/s/5/105/i/register.png" width="500px" height="400px" alt="">
            </div>
            <div class="p-4" style="width: 500px;">
                <app-logo></app-logo>
                <hr>
                <app-form [formFields]="loginFields"
                [formGroup]="loginForm"
                (formEmitter)="recieveFormData()"></app-form>
            </div>
        </div>
    </div>
</div>