<div>
    <ng-container *ngIf="isJobInfoLoaded; then jobInfo; else jobInfoLoader"></ng-container>

    <ng-template #jobInfoLoader>
        <!-- job info loader -->
        <div class="card p-4 mb-4">
            <div class="d-flex justify-content-between">
                <p-skeleton width="15rem" height="1.5rem" styleClass="mb-2"></p-skeleton>
                <div class="d-flex">
                    <p-skeleton width="5rem" height="2.5rem" styleClass="mb-2 rounded-pill"></p-skeleton>
                    <span class="pe-3"></span>
                    <p-skeleton width="5rem" height="2.5rem" styleClass="mb-2 rounded-pill"></p-skeleton>
                </div>
            </div>
            <span class="d-flex">
                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            </span>
            <p-skeleton width="6rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="card p-4">
            <p-skeleton width="14rem" height="1.5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="1rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="1rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="1rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="39%" height="1rem" styleClass="mb-2"></p-skeleton>
        </div>
    </ng-template>
    <ng-template #jobInfo>
        <div class="d-flex justify-content-start">

            <!-- flex item 1 - job info -->
            <div class="flex-grow-1">
                <div class="card p-4 mb-4">
                    <div class="d-flex justify-content-between">
                        <h5>
                            {{job.jobTitle}}
                        </h5>
                        <!-- action buttons -->
                    </div>
                    <div class="fs-6 d-flex flex-wrap">
                        <div class="pe-3">
                            <i class="pi pi-map-marker"></i>
                            {{job.location}}
                        </div>
                        <div class="text-success">
                            <i class="pi pi-clock"></i>
                            22 hours ago
                        </div>
                    </div>

                    <div class="pt-2 d-flex flex-wrap">
                        <div class="pe-3">
                            <i class="pi pi-briefcase"></i>
                            {{job.jobType}}
                        </div>
                        <div>
                            <i class="pi pi-wallet"></i>
                            {{job.salary | currency: 'INR'}}
                            CTC
                        </div>
                    </div>
                </div>
                <div class="card p-4" style="margin-top:0%">
                    <div class="d-flex">
                        <h5 class="flex-grow-1">
                            Job Description
                        </h5>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <div class="flex-grow-1 fw-normal">
                            {{job.description}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- flex item 2 - job statistics -->
            <div class="d-flex flex-column ms-4">
                <div class="card w-100 p-4">
                    <div class="d-flex justify-content-between gap-4">
                        <div>
                            Applied Candidates
                        </div>
                        <div class="text-white bg-dark px-2 py-1 rounded">
                            <i class="pi pi-briefcase"></i>
                        </div>
                    </div>
                    <div class="fs-2 fw-bold">
                        22
                    </div>
                    <div class="text-muted">
                        10 Shortlisted
                    </div>
                </div>
            </div>

        </div>
        <div class="p-2"></div>
        <!-- job info -->

    </ng-template>

    <div class="pt-4">

        <ng-container *ngIf="isAppliersTableLoaded; then appliersDataTable; else appliersLoader"></ng-container>
        <!-- loader -->
        <ng-template #appliersLoader>
            <p-table responsiveLayout="scroll" class="card">
                <ng-template pTemplate="header">
                    <h4 class="p-3 fw-bold">Applied candidates</h4>
                    <tr>
                        <th>
                            Full name
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Email
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Status
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Gender
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            DOB
                            <p-sortIcon></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
        <ng-template #appliersDataTable class="card">
            <ng-container *ngIf="appliers.length > 0; then applierDataTable; else noAppliers"></ng-container>
            <ng-template #noAppliers>
                <div class="card p-3 text-center">
                    <p>No candidates applied for this job at this moment :(</p>
                </div>
            </ng-template>
            <ng-template #applierDataTable>
                <p-table [value]="appliers" responsiveLayout="scroll" class="card">
                    <ng-template pTemplate="header">
                        <h4 class="p-3 fw-bold">Applied candidates</h4>
                        <tr>
                            <th pSortableColumn="fullName">
                                Full name
                                <p-sortIcon field="fullName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="email">
                                Email
                                <p-sortIcon field="email"></p-sortIcon>
                            </th>
                            <th pSortableColumn="status">
                                Status
                                <p-sortIcon field="status"></p-sortIcon>
                            </th>
                            <th pSortableColumn="gender">
                                Gender
                                <p-sortIcon field="gender"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dateOfBirth">
                                DOB
                                <p-sortIcon field="dateOfBirth"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-applier>
                        <tr class="pointer" (click)="getJobSeekerProfileById(applier.jobSeekerId)">
                            <td>
                                <span>
                                    <img [src]="applier.profilePicture + '?' + sas_token" alt="" class="profile">
                                </span>
                                <span class="ps-2">
                                    {{applier.fullName}}
                                </span>
                            </td>
                            <td>{{applier.email}}</td>
                            <td>
                                <span class="bg-dark text-white fw-xsmall px-2 py-1 rounded"
                                    [ngClass]="applier.status == 'Pending' ? 'status-pending' : 'status-success'">
                                    {{applier.status}}
                                </span>
                            </td>
                            <td>{{applier.gender}}</td>
                            <td>{{applier.dateOfBirth | date }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </ng-template>
    </div>
</div>