<div>
    <div class="card p-4">
        <div class="fs-4">
            Change Email
        </div>
        <hr>
        <p><i class="p-2 pi pi-envelope"></i>Email :{{Email}}
            <button class="btn border-none" (click)="updateEmail(emailModal)">
                <i class="pi pi-pencil"></i>
            </button>
        </p>
    </div>
    <div class="p-2"></div>
    <div class="card p-4">
        <div class=" fs-4">
            Change Password
        </div>
        <hr>
        <label for="currentPassword"> Current Password</label>
        <input class="w-50 btn-rounded text-muted" type="password" placeholder="Current Password" [(ngModel)]="currentPassword" required>
        <br>
        <label for="NewPassword"> New Password</label>
        <input class="align-center w-50 btn-rounded" type="password" placeholder="New Password" [(ngModel)]="newPassword" required>
        <br>
        <button class="btn btn primary bg-dark text-white float-end w-50" (click)="changePassword(currentPassword, newPassword)">
            Change Password
        </button>

    </div>
    <div class="p-2"></div>
    <div class="card p-4" style="height:auto">
        <div class=" fs-4">
            Delete Profile
        </div>
        <hr>
        <p class="justify-content-center"> Once you delete your account, there is no going back. Please be certain.</p>
        <button class="btn btn danger bg-danger text-white w-50 justify-content-center"
            (click)="showMaximizableDialog()">Delete Account</button>
        <p-dialog header="Confirmation to delete" [(visible)]="displayMaximizable" [modal]="true"
            [style]="{width: '50vw'}" [maximizable]="true" [draggable]="false" [resizable]="false">
            <p>Are you sure you want to delete your account?</p>
            <ng-template pTemplate="footer">
                <p-button (click)="displayMaximizable=false" label="NO" styleClass="p-button-danger">
                </p-button>
                <p-button (click)="showtoastrmessage()" routerLink="/" label="YES" styleClass="p-button-success">
                </p-button>
            </ng-template>
        </p-dialog>
    </div>

</div>

<ng-template #emailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Change Email
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <app-form [formGroup]="emailForm" [formFields]="emailFields">
        </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-dark text-white" style="border-radius: 13px;" [disabled]="!emailForm.valid"
            (click)="executeEmailAction()">
            {{action}}
        </button>
    </div>
</ng-template>