
<div class="card p-4">
    <div class="fs-1 fw-bold">
        Job Title
    </div>
    <div class="fs-6">
        <span>
            <i class="pi pi-building"></i>
            Company name
        </span>
        .
        <span>
            <i class="pi pi-map-marker"></i>
            Location
        </span>
        .
        <span class="text-success">
            <i class="pi pi-clock"></i>
            22 hours ago
        </span>
    </div>

    <div class="pt-2">
        <i class="pi pi-briefcase"></i>
        Full-time . Entry Level
    </div>

    <div class="pt-2">
        <button class="btn btn-primary bg-dark">
            Apply now
        </button>
    </div>
</div>
<div class="pt-4"></div>
<div class="card p-4">
    <div class="fs-3 fw-bold">
        About the job
    </div>
    <div class="fs-5 fw-bold">
        Company Description
    </div>
    <div class="fs-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem odio explicabo aut molestiae facilis tenetur voluptatum laborum, obcaecati est optio itaque labore iste vero quo, unde, consectetur qui cupiditate corporis?
        Amet dignissimos, omnis eum vel modi ab possimus earum error corporis officia dolores qui quam ipsam natus asperiores quas sunt culpa magni! Fuga cum veritatis perferendis. Deleniti iusto magni vero!
        Aliquam inventore error numquam sapiente officiis sint suscipit neque animi aperiam vero illo architecto quia laboriosam temporibus facere sequi natus repellat illum voluptatum molestias iste, quis quam soluta. Pariatur, repudiandae.
        Amet, error omnis ipsa est repellat sapiente obcaecati quis perspiciatis animi, numquam minima sint? Aliquam pariatur explicabo, tempore consequatur unde quo quas voluptate, officia iusto, labore eum voluptates odio voluptatem?
    </div>

    <div class="fs-5 fw-bold pt-4">
        Job Description
    </div>
    <div class="fs-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, delectus soluta! Fugit quos aspernatur atque vero dolorem amet quis nemo, earum voluptatum? Tenetur aut sit voluptates vel quam repellat ex?
        Quae quia, expedita eum soluta officia nostrum iusto ut quisquam consequuntur mollitia possimus, ea necessitatibus nobis voluptates aspernatur dolores ad ratione magnam, voluptatibus perferendis natus debitis obcaecati voluptatum! Eaque, nemo.
        Reprehenderit unde libero facilis dignissimos id, laborum quidem laudantium reiciendis provident iure. Consequatur, praesentium mollitia aliquam magni laudantium iusto quibusdam laboriosam nam soluta incidunt accusamus porro quasi quia accusantium culpa.
        Unde rerum, saepe blanditiis deleniti, velit, suscipit sint natus eum itaque nihil laborum aperiam! Repudiandae ullam expedita nesciunt odio tempora accusantium eveniet debitis, aliquid officiis, animi ipsam. Quaerat, praesentium hic.
        Similique optio obcaecati consectetur voluptatibus doloremque repellat quisquam id, qui earum veritatis rem architecto, perferendis hic accusantium eos porro neque nobis? Vitae beatae assumenda sapiente eligendi sequi nesciunt, cum reprehenderit.
        Error consequuntur quod in, eaque reprehenderit consequatur cupiditate adipisci maxime, deserunt ad ipsam repellat, suscipit aperiam delectus soluta quia placeat voluptatem repellendus! Quibusdam recusandae ut, aliquam suscipit nulla neque ipsam?
        Nostrum libero tenetur ratione voluptatem, sit similique nobis est, in doloribus sed explicabo totam veniam facilis aperiam rerum dolor nulla, facere vel ipsa quo perferendis? Labore voluptatum nulla soluta quo.
        Aspernatur ad quis quia molestias esse necessitatibus libero suscipit facilis unde illo reiciendis, doloribus facere veniam voluptas vero officia minima nihil commodi, sequi, distinctio nisi officiis similique ea? Autem, mollitia.
        Ratione eveniet reprehenderit optio voluptatibus quam, expedita, sint magni modi laborum aperiam architecto veritatis quidem doloribus eos aliquam in, impedit fugiat dolor delectus ducimus nisi dolore dolorum eaque? Asperiores, distinctio!
        Aliquam praesentium fuga dolor a aperiam eaque dolorum repudiandae earum vero. Fugiat placeat reprehenderit nesciunt, qui autem aliquid vel. Quod dolores maiores eius inventore unde voluptas. Ipsam, eveniet laborum? Tempore!
    </div>
</div>