
<div class="text-end p-2">
    <button class="btn border-none text-danger rounded-pill border border-danger"
        *ngIf="!isJobSeeker"
        (click)="deleteJob()">
        <i class="pi pi-trash"></i>
        Delete
    </button>
</div>

<div class="card-shadow p-4">
    <div class="fs-3 fw-bold">
        {{job.jobTitle}}
    </div>
    <div class="fs-6">
        <span *ngIf="isJobSeeker">
            <i class="pi pi-building"></i>
            <span class="fw-bold">
                {{job.companyName}}
            </span>
            .
        </span>
        <span>
            <i class="pi pi-map-marker"></i>
           {{job.location}}
        </span>
        .
        <span class="text-success">
            <i class="pi pi-clock"></i>
            {{job.createdDate | date}}
        </span>
    </div>

    <div class="pt-2">
        <i class="pi pi-briefcase"></i>
        {{job.jobType}}
    </div>

    <div class="pt-2"
        *ngIf="isJobSeeker">
        <ng-container *ngIf="isApplied; then applied; else notApplied">
        </ng-container>
        <ng-template #applied>
            <button class="btn bg-orange text-white rounded-pill px-2 py-1" [disabled]="isApplied">
                Applied
            </button>
        </ng-template>
        <ng-template #notApplied>
            <button class="btn bg-orange text-white rounded-pill px-3 py-1" (click)="applyForJob()">
                Apply
            </button>
        </ng-template>
    </div>
</div>
<div class="pt-4"></div>
<div class="card-shadow p-4">
    <div class="fs-3 fw-bold">
        About
    </div>
    <div class="fs-5 fw-bold">
        Company Description
    </div>
    <div class="fs-6">
        {{job.companyDescription}}
    </div>

    <div class="fs-5 fw-bold pt-4">
        Job Description
    </div>
    <div class="fs-6">
        {{job.description}}
    </div>
</div>