<div class="p-4 card">
    <div class="fs-3 fw-bold">
        Job title
    </div>
    <div class="fs-5">
        <i class="pi pi-building"></i>
        <span class="align-bottom">
            Company name
        </span>
    </div>
    <div class="fs-6 text-muted">
        <i class="pi pi-map-marker"></i>
        Washington DC
    </div>
    <div class="pt-2">
        <span class="badge badge-primary bg-warning text-dark">
            <i class="pi pi-wallet"></i>
            {{44000 | currency}}
        </span>
        <span class="pe-2"></span>
        <span class="badge badge-secondary bg-warning text-dark">
            <i class="pi pi-briefcase"></i>
            Full time
        </span>
    </div>
</div>