<div class="p-4 card" style="width: 50rem;">
    <div class="fs-3 fw-bold">
        {{jobs.JobTitle}}
    </div>
    <div class="fs-5">
        <i class="pi pi-building"></i>
        <span class="align-bottom">
            {{jobs.CompanyName}}
        </span>
    </div>
    <div class="fs-6 text-muted">
        <i class="pi pi-map-marker"></i>
       {{jobs.Location}}
    </div>
    <div class="pt-2">
        <span class="badge badge-primary bg-warning text-dark">
            <i class="pi pi-wallet"></i>
            {{jobs.Salary}}
        </span>
        <span class="pe-2"></span>
        <span class="badge badge-secondary bg-warning text-dark">
            <i class="pi pi-briefcase"></i>
            {{jobs.JobType}}
        </span>
    </div>
</div>
<div class="pt-4"></div>