

<div class="d-flex justify-content-start">

    <!-- sidebar -->
    <div class="sidebar"
        style="width: 230px;"
        *ngIf="sideBarVisibility">
        <div class="fixed bg-dark p-4 text-secondary h-100-vh">
            <div>
                <app-logo [class]="'text-secondary'"></app-logo>
            </div>
    
            <div class="pt-3">
                <div class="pe-3 py-2 side-nav-item pointer"
                    routerLink="/employer/dashboard"
                    routerLinkActive="text-secondary"
    
                    >
                    <i class="pi pi-home"></i>
                    Dashboard
                </div>
                <div class="pe-3 py-2 side-nav-item pointer"
                    routerLink="/employer/jobs"
                    routerLinkActive="text-secondary">
                    <i class="pi pi-briefcase"></i>
                    Jobs
                </div>
                <div class="pe-3 py-2 side-nav-item pointer"
                    routerLink="/employer/profile"
                    routerLinkActive="text-secondary">
                    <i class="pi pi-user"></i>
                    Profile
                </div>
                <div class="pe-3 py-2 side-nav-item pointer"
                    routerLink="/employer/account-settings"
                    routerLinkActive="text-secondary">
                    <i class="pi pi-cog"></i>
                    Account Settings
                </div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light"
            [ngClass]="sideBarVisibility ? 'bg-light' : 'bg-dark text-secondary'">
            <div class="container-fluid">
                <button class="btn border-none"
                (click)="toggleSideBar()"
                [ngClass]="sideBarVisibility ? '' : 'text-white'">
                <!-- hamburger -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button> 

                <app-logo *ngIf="!sideBarVisibility" [class]="'text-secondary'"></app-logo>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-item" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-item">
                <span class="spacer"></span>
                <div class="pe-4">
                    <button class="btn border-none">
                        <i class="pi pi-bell"
                            [ngClass]="sideBarVisibility ? '' : 'text-secondary'">
                        </i>
                    </button>
                </div>
                <div class="dropdown pe-4">
                    <button class="btn border border-dark rounded-pill"
                        type="button"
                        id="profile"
                        data-bs-toggle="dropdown"
                        [ngClass]="sideBarVisibility ? '' : 'text-secondary border-white'"
                        >
                        <i class="pi pi-user"></i>
                    </button>
                    <!-- <div class="dropdown-content p-4" aria-labelledby="profile">
                        <div class="text-center">
                            <div>
                                <button class="btn border-none border-dark rounded-pill fs-1">
                                    <img [src]="" alt="profile picture"
                                        style="border-radius: 50%; width:70px;
                                        height:70px;"
                                        >
                                </button>
                            </div>
                            <div class="py-2">
                                <button class="btn border-dark border-dark rounded-pill text-nowrap"
                                    >
                                    Manage your account
                                </button>
                            </div>
                            <hr>
                            <button class="btn border-dark">
                                Logout
                                <i class="pi pi-sign-out px-2"></i>
                            </button>
                        </div>
                    </div> -->
                </div>
                </div>
            </div>
            </nav>

            <div class="p-3">
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
<!-- 
<app-dashboard [sidebarItems]="sidebarItems">
    <router-outlet></router-outlet>
</app-dashboard> -->

