<div>
    
    <div class="card card-shadow p-4">
        <div class="d-flex justify-content-start">
            <div>
                <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlciUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
                    alt="profile pic"
                    height="300px"
                    width="300px"
                    class="rounded-pill">
            </div>
            <div class="ps-5">
                <div>
                    <!-- username -->
                    <div class="text-muted">
                        @edel
                    </div>
                    
                    <!-- name -->
                    <div class="d-flex pt-1">
                        <div class="fw-bold pe-3">
                            Name:
                        </div>
                        <div>
                            John Edelbert Rex
                        </div>
                    </div>

                    <!-- email -->
                    <div class="d-flex pt-1">
                        <div class="fw-bold pe-3">
                            Email:
                        </div>
                        <div>
                            edelrex@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>