<div>

    <div class="card card-shadow p-4">
        <div class="d-flex justify-content-start">
            <div>
                <img [src]="imageUrl" alt="profile pic" height="300px" width="300px" class="rounded-pill">
            </div>
            <div class="ps-5">
                <div>
                    <!-- username -->
                    <div class="text-muted">
                        @edel
                    </div>

                    <!-- name -->
                    <div class="d-flex pt-1">
                        <div class="fw-bold pe-3">
                            Name:
                        </div>
                        <div>
                            John Edelbert Rex
                        </div>
                    </div>

                    <!-- email -->
                    <div class="d-flex pt-1">
                        <div class="fw-bold pe-3">
                            Email:
                        </div>
                        <div>
                            edelrex@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
            <!-- card -->
            <div class="card card-shadow">
                <!-- card body -->
                <div class="card-body">
                    <!-- card title -->
                    <div class="flex-grow-1 fs-normal">
                        <h4 class="card-title">Education</h4>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center" id="main"
                        *ngIf="educationArray.length==0">
                        <img class="mr-3 pr-3 align-top border-right inline-block align-content-center"
                            src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif"
                            style="height:150px; width: 150px;">
                        <div class="inline-block align-middle">
                            <h2 class="font-weight-normal lead" id="desc">No Education added</h2>
                        </div>
                    </div>
                    <ng-container *ngFor="let education of educationArray; let id=index;">
                        <div class="col-lg-12 mb-1-9 mb-lg-2-5">
                            <div class="p-1-6">
                                <div class="vertical-timeline">
                                    <div class="d-block d-sm-flex justify-content-between mb-1-9">
                                        <div class="left-side">
                                            <h6 class=" fs-normal">Modern College</h6>
                                            <span class="text-primary  fs-normal">1997 - 2001</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class=" fs-normal">Computer Science</h6>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="d-block d-sm-flex justify-content-between mb-1-9">
                                        <div class="left-side">
                                            <h6 class=" fs-normal">Harvard University</h6>
                                            <span class="text-primary ">2002 - 2004</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class="fs-normal">Bachlors in Fine Arts</h6>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-block d-sm-flex justify-content-between">
                                        <div class="left-side">
                                            <h6 class="fs-normal">Diploma In Fine Arts</h6>
                                            <span class="text-primary ">2002 - 2004</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class=" fs-normal">BBA at School of Design at University of Michigan
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>

        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
            <!-- card -->
            <div class="card card-shadow">
                <!-- card body -->
                <div class="card-body">
                    <!-- card title -->
                    <div class="flex-grow-1 fs-normal">
                        <h4 class="card-title">Experience</h4>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center align-items-center" id="main"
                        *ngIf="experienceArray.length==0">
                        <img class="mr-3 pr-3 align-top border-right inline-block align-content-center"
                            src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif"
                            style="height:150px; width: 150px;">
                        <div class="inline-block align-middle">
                            <h2 class="font-weight-normal lead" id="desc">No Experience added</h2>
                        </div>
                    </div>
                    <ng-container *ngFor="let experience of experienceArray; let id=index;">
                        <div class="col-lg-12 mb-1-9 mb-lg-2-5">
                            <div class="p-1-6">
                                <div class="vertical-timeline">
                                    <div class="d-block d-sm-flex justify-content-between mb-1-9">
                                        <div class="left-side">
                                            <h6 class=" fs-normal">Modern College</h6>
                                            <span class="text-primary  fs-normal">1997 - 2001</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class=" fs-normal">Computer Science</h6>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="d-block d-sm-flex justify-content-between mb-1-9">
                                        <div class="left-side">
                                            <h6 class=" fs-normal">Harvard University</h6>
                                            <span class="text-primary ">2002 - 2004</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class="fs-normal">Bachlors in Fine Arts</h6>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-block d-sm-flex justify-content-between">
                                        <div class="left-side">
                                            <h6 class="fs-normal">Diploma In Fine Arts</h6>
                                            <span class="text-primary ">2002 - 2004</span>
                                        </div>
                                        <div class="right-side">
                                            <h6 class=" fs-normal">BBA at School of Design at University of Michigan
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>