<div class="card-shadow p-4">
    <!-- profile card -->
    <div class="row">
        <div class="col-1">
            <ng-container *ngIf="isProfilePictureLoaded; then profilePicture; else profilePictureLoader"></ng-container>
            <ng-template #profilePictureLoader>
                <p-skeleton shape="circle" height="6rem" width="6rem"></p-skeleton>
            </ng-template>
            <ng-template #profilePicture>
                <img [src]="imageUrl" class="profile-picture" alt="profile-picture">
                <div class="text-muted mt-2">
                    @{{currentApplier.userName}}
                </div>
            </ng-template>
        </div>

        <div class="col ms-2 text-nowrap">
            <div class="fw-bold fs-4 text-orange text-capitalize">
                {{currentApplier.fullName}}
            </div>
            <div>
                <a [href]="'mailto:' + currentApplier.email" class="text-decoration-none text-dark">
                    <i class="pi pi-envelope"></i>
                    {{currentApplier.email}}
                </a>
            </div>
            <div>
                <i class="pi pi-calendar"></i>
                {{currentApplier.dateOfBirth | date}}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-2">
        <div>
            <button class="btn btn-orange px-2 py-1 rounded-pill"
                (click)="getResumebyId(currentApplier.jobSeekerId)">
                <i class="pi pi-cloud-download"></i>
                Resume
            </button>
        </div>
        <div>
            <ng-container *ngIf="currentApplier.status == status.Pending">
                <button class="btn btn-success px-2 py-1 rounded-pill me-1"
                    (click)="shortlistCandidate()">
                    <i class="pi pi-check-circle"></i>
                    Shortlist
                </button>
                <button class="btn btn-danger px-2 py-1 rounded-pill"
                    (click)="rejectCandidate()">
                    <i class="pi pi-times-circle"></i>
                    Reject
                </button>
            </ng-container>
        </div>
    </div>

    <!-- shortlisted message -->
    <ng-container *ngIf="currentApplier.status == status.Shortlisted">
        <p class="text-success my-2 rounded-pill fw-bold">
            Applicant shortlisted
        </p>
    </ng-container>

    <!-- rejected message -->
    <ng-container *ngIf="currentApplier.status == status.Rejected">
        <p class="text-danger my-2 rounded-pill fw-bold">
            Applicant rejected
        </p>
    </ng-container>

    <!-- about -->
    <div class="mt-4">
        <h5 class="fw-bold text-orange">
            About
        </h5>
        <p>
            {{currentApplier.about}}
        </p>
    </div>

    <!-- skills -->
    <div class="mt-4">
        <h5 class="fw-bold text-orange mb-3">
            Skills
        </h5>
        <ng-container *ngFor="let skill of skillArray">
            <span class="border rounded-pill border-dark px-2 py-1 me-2">
                {{skill.skillTitle}}
            </span>
        </ng-container>
    </div>

    <!-- education and experience -->
    <div class="row mt-4">
        <!-- education -->
        <div class="col">
            <h5 class="fw-bold text-orange mb-3">
                Education
            </h5>
            <ng-container *ngFor="let education of educationArray">
                <div class="vtl">
                <div class="event">
                    <h5>
                        {{education.qualification}} {{education.courseName}}
                    </h5>
                    <span class="d-block small fw-bold">
                        {{education.universityName}}
                    </span>
                    <span class="small text-muted">
                        {{education.startDate | date}} - {{education.completionDate | date}}
                    </span>
                </div>
                </div>
            </ng-container>
        </div>

        <div class="col">
            <h5 class="fw-bold text-orange mb-3">
                Experience 
            </h5>
            <ng-container *ngFor="let experience of experienceArray">
                <div class="vtl">
                <div class="event">
                    <h5>
                        {{experience.designation}}
                    </h5>
                    <span class="d-block small fw-bold">
                        {{experience.previousCompanyName}}
                    </span>
                    <span class="small text-muted">
                        {{experience.startDate | date}} - {{experience.toDate | date}}
                    </span>
                </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>