<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="ps-4">
        <button pButton pRipple type="button" icon="pi pi-bars"
            class="p-button-rounded p-button-text mr-2 mb-2 text-white" (click)="toggleSidebarVisibility()">
        </button>
    </div>
    <div class="container-fluid">
        <a routerLink="/" class="text-decoration-none text-white">
            <app-logo></app-logo>
        </a>
    </div>
    <div class="pe-3">
        <button class="d-flex btn text-white border-none" (click)="logout()">
            <i class="pi pi-sign-out"></i>
            <span class="align-start">
                Logout
            </span>
        </button>
    </div>
</nav>

<!-- <div class="d-flex col-sm-12">
    <div class="card vh-100 ps-3 pe-5"
        *ngIf="showSidebar">
        <ng-container *ngFor="let item of sidebarItems">
                <a [routerLink]="item.routeTo"
                    class="text-decoration-none active pt-2 ">
                    <i class="pi pi-{{item.icon}}"
                        [ngClass]="item.icon">
                    </i>
                    {{item.label}}
                </a>
        </ng-container>
    </div>

    <div>
        <ng-content></ng-content>
    </div>
</div> -->
<div class="d-flex col-sm-12">
    <div class="card vh-100 ps-3 pe-5" *ngIf="showSidebar">
        <ng-container *ngFor="let item of sidebarItems">
            <div class="area">
                <nav class="main-menu">
                    <ul>
                        <p>{{item.label}}</p>
                        <li>
                            <a routerLink="/{{item.routeTo}}">
                                <i class="pi pi-{{item.icon}} pi-2x"></i>
                                <span class="nav-text">
                                    {{item.label}}
                                </span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </ng-container>
    </div>

    <div>
        <ng-content></ng-content>
    </div>
</div>