

<div class="main vh-100 d-flex justify-content-center align-items-center bg-orange-light">
    <div class="d-flex card-shadow p-3">
        <div>
            <img src="../../../../assets/password.webp" alt=""
                height="400px">
        </div>
        <div>
            <app-logo variant="light"></app-logo>
            <!-- forgot password form -->
            <h3 class="fw-bold mt-3 me-5 text-orange float-end">
                Reset your password
            </h3>
            <form [formGroup]="forgotPasswordForm"
                class="me-5">
                <div class="mb-3">
                    <label for="email" class="required">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
                <div class="float-end">
                    <button class="btn btn-orange rounded-pill px-2 py-1" [disabled]="!forgotPasswordForm.valid"
                        (click)="submit()">
                        Get OTP
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>