
<div class="main vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex">
        <div>
            <app-logo></app-logo>
            <div class="p-3 card card-shadow">
                <!-- forgot password form -->
                <app-form [formFields]="forgotPasswordField"
                    [formGroup]="forgotPasswordForm"
                    >
                </app-form>
                <div class="text-center">
                    <button class="btn bg-dark rounded-pill text-white"
                        [disabled]="!forgotPasswordForm.valid"
                        (click)="submit()">
                        Get OTP
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>