<div class="sidenav">
    <div class="justify-content-center align-items-center">
        <h2 style="text-align: center;">Job Filter</h2>
    </div>
    <hr>
    <div class="col-lg-12 order-2 order-lg-1 mt-6">
        <label for="search" style="margin-left:5%;">Experience</label>
        <div *ngFor="let category of CategoryExperienceBased" class="p-field-checkbox" style="margin-left:10%">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories"
                [inputId]="category.key" (click)="print()"></p-checkbox>
            <label [for]="category.key">{{category.name}}</label>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 order-2 order-lg-1 mt-6">
        <label for="search" style="margin-left:5%;">Designation </label>
        <div *ngFor="let category of Designation" class="p-field-checkbox" style="margin-left:10%">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedDesignation"
                [inputId]="category.key" (click)="print()"></p-checkbox>
            <label [for]="category.key">{{category.title}}</label>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 order-2 order-lg-1 mt-6">
        <label for="search" style="margin-left:5%;">Location </label>
        <div *ngFor="let category of Location" class="p-field-checkbox" style="margin-left:10%">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedLocation"
                [inputId]="category.key" (click)="print()"></p-checkbox>
            <label [for]="category.key">{{category.location}}</label>
        </div>
    </div>
    <hr>
</div>