.action-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0
}

.action-list li {
    margin-left: 10px
}

.action-list li:first-child {
    margin-left: 0
}

.action-list li a {
    display: block;
    background: rgba(69, 101, 183, 0.1);
    color: #060432;
    border-radius: 10px;
    height: 34px;
    width: 34px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    transition: all 300ms ease
}

.action-list li a.white {
    background: #ffffff
}

.action-list li a:hover {
    background: #060432;
    color: #ffffff
}