<div>
    <div class="text-end p-3">
        <button class="btn border-none border-dark rounded-fill bg-primary text-white"
            [routerLink]="'/employer/job/new'">
            Add new
        </button>
    </div>

    <!-- jobs table -->
    <div class="card">
        <h5 class="fw-bold p-2">
            All Jobs
        </h5>

        <ng-container *ngIf="isLoaded; then data; else loader"></ng-container>

        <!-- loader -->
        <ng-template #loader>
            <p-table responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Job Title
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Location
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Created date
                            <p-sortIcon></p-sortIcon>
                        </th>
                        <th>
                            Salary
                            <p-sortIcon></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                    <tr>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                        <td><p-skeleton height="2rem"></p-skeleton></td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>

        <!-- data -->
        <ng-template #data>
            <p-table [value]="jobs" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="jobTitle">
                            Job Title
                            <p-sortIcon field="jobTitle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="location">
                            Location
                            <p-sortIcon field="location"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdDate">
                            Created date
                            <p-sortIcon field="createdDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="salary">
                            Salary
                            <p-sortIcon field="salary"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-job>
                    <tr class="pointer" [routerLink]="'/employer/job/' + job.postJobDetailId">
                        <td>{{job.jobTitle}}</td>
                        <td>{{job.location}}</td>
                        <td>{{job.createdDate | date: 'short' }}</td>
                        <td>{{job.salary | currency: 'INR'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </div>
</div>