<div class="p-5">
    <h2 class="fw-bold text-center text-orange mb-4">
        Personal details
    </h2>
    <div class="d-flex justify-content-center">
        <ng-container *ngIf="isImageLoaded; then image; else imageLoader"></ng-container>
        <ng-template #imageLoader>
            <div>
                <p-skeleton shape="circle" class="rounded-cicle" height="150px" width="150px"></p-skeleton>
            </div>
        </ng-template>
        <ng-template #image>
            <div>
                <img [src]="imageUrl" class="pointer rounded-circle" style="width: 150px; height: 150px;"
                    (click)="openFileTrigger(fileTigger)" pTooltip="Update Profile picture">
            </div>
        </ng-template>

    </div>
    <input type="file" (change)="updateProfilePicture($event)" accept=".png,.jpg,.jpeg" style="display: none;"
        #fileTigger>
    <!-- profile form -->
    <form [formGroup]="profileForm"
        class="mt-4">
        <div class="row">
            <div class="mb-3 col">
                <label for="firstName" class="required">First Name</label>
                <input type="text" id="firstName" formControlName="firstName" class="form-control" readonly>
            </div>
            <div class="mb-3 col">
                <label for="lastName" class="required">Last Name</label>
                <input type="text" id="lastName" formControlName="lastName" class="form-control" readonly>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col">
                <label for="dateOfBirth" class="required">Date of Birth</label>
                <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">
            </div>
            <div class="mb-3 col">
                <label for="gender" class="required">Gender</label>
                <select class="form-select" aria-label="Select gender"
                    formControlName="gender">
                    <option value="" disabled>Select gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="about" class="required">Bio</label>
                <!-- <div class="form-floating"> -->
                    <textarea id="about" class="form-control" placeholder="Bio" rows="3"></textarea>
                <!-- </div> -->
            </div>
        </div>
    </form>
    <!-- <app-form [formFields]="profileFields" [formGroup]="profileForm">
    </app-form> -->

    <!-- education details -->
    <div class="card p-3">
        <div class="d-flex">
            <div class="flex-grow-1 fs-5">
                Education
            </div>
            <div>
                <button pButton pRipple type="button" icon="pi pi-plus"
                    (click)="addEducation(educationModal)"
                    class="p-button-rounded p-button-secondary float-end bg-dark text-white"></button>
            </div>
        </div>
        <hr>
        <ng-container *ngFor="let education of educationDetails.controls; let id = index">
            <div class="pt-3 d-flex justify-content-start">
                <div class="pt-3">
                    <img src="assets/university.svg" height="50px" width="50px">
                </div>
                <div class="ps-4 d-flex flex-column flex-grow-1">
                    <!-- {{education.value | json}} -->
                    <div class="fs-3 fw-bold">
                        {{education.controls['universityName'].value}}
                    </div>
                    <div class="fs-5">
                        {{education.controls['qualification'].value}} -
                        {{education.controls['courseName'].value}}
                    </div>
                    <div class="text-muted">
                        {{education.controls['startDate'].value}} -
                        {{education.controls['completionDate'].value}}
                    </div>
                </div>
                <div class="ps-2 pt-3">
                    <button class="btn btn-rounded" (click)="editEducation(educationModal, id)">
                        <i class="pi pi-pencil text-primary"></i>
                    </button>
                    <button class="ps-2 btn btn-rounded-danger" (click)="deleteEducation(id)">
                        <i class="pi pi-trash text-danger"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="pt-3"></div>
    <!-- experience details -->
    <div class="card p-3">
        <div class="d-flex">
            <div class="flex-grow-1 fs-5">
                Experience
            </div>
            <div>
                <button pButton pRipple type="button" icon="pi pi-plus"
                    (click)="addExperience(experienceModal)"
                    class="p-button-rounded p-button-secondary float-end bg-dark text-white"></button>
            </div>
        </div>
        <hr>
        <ng-container *ngFor="let experience of experienceDetails.controls; let id = index">
            <div class="pt-3 d-flex justify-content-start">
                <div class="pt-3">
                    <img src="../../../../../assets/company.png" height="50px" width="50px">
                </div>
                <div class="ps-4 d-flex flex-column flex-grow-1">
                    <div class="fs-3 fw-bold">
                        {{experience.controls['previousCompanyName'].value}}
                    </div>
                    <div class="fs-5">
                        {{experience.controls['designation'].value}}
                    </div>
                    <div class="text-muted">
                        Experience:
                        {{experience.controls['yearOfExperience'].value}} year(s)
                    </div>
                </div>
                <div class="ps-2 pt-3">
                    <button class="btn btn-rounded" (click)="editExperience(experienceModal, id)">
                        <i class="pi pi-pencil text-primary"></i>
                    </button>
                    <button class="ps-2 btn btn-rounded-danger" (click)="deleteExperience(id)">
                        <i class="pi pi-trash text-danger"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="pt-3"></div>
    <!-- Preferred Job -->
    <div class="card shadow">
        <!-- card body -->
        <div class="card-body">
            <!-- card title -->
            <div class="flex-grow-1 fs-4">
                <div class="card-title fs-5">Preferred Job
                    <button pButton pRipple type="button" icon="pi pi-plus"
                        (click)="addjob(PreferredJobModal)"
                        class="p-button-rounded p-button-secondary float-end bg-dark text-white"></button>
                </div>
                <hr>
            </div>
            <div class="flex-grow-1 fs-4" *ngFor="let preferredJob of preferredJobArray" style="margin-left:5%;top:10%">

                <p-chip [removable]="true" separator="," (onRemove)="deleteJob(preferredJob.preferredJobId)">
                    {{preferredJob.jobTitle}}
                </p-chip>
            </div>
        </div>
    </div>
    <div class="pt-3"></div>

    <!-- Skills Section -->

    <div class="card shadow">
        <!-- card body -->
        <div class="card-body">
            <!-- card title -->
            <div class="flex-grow-1 fs-4">
                <div class="card-title fs-5">Skills
                    <button pButton pRipple type="button" icon="pi pi-plus"
                        (click)="addskill(SkillModal)"
                        class="p-button-rounded p-button-secondary float-end bg-dark text-white"></button>
                </div>
                <hr>
            </div>
            <div class="flex-grow-1 fs-4" *ngFor="let skill of skillArray"
                style="margin-left:5%;top:10%; display:flex;">

                <p-chip [removable]="true" separator="," (onRemove)="deleteSkill(skill.skillId)">{{skill.skillTitle}}
                </p-chip>
            </div>
        </div>

    </div>

    <!-- end of profile -->
    <div class="text-end pt-3">
        <button class="btn btn-orange" [disabled]="!profileForm.valid" (click)="complete()">
            Complete
        </button>
    </div>
</div>


<!-- Modals -->
<ng-template #educationModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{action}} Education
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <app-form [formGroup]="educationForm" [formFields]="educationFields">
        </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-dark text-white" style="border-radius: 13px;" [disabled]="!educationForm.valid"
            (click)="executeEducationAction()">
            {{action}}
        </button>
    </div>
</ng-template>


<ng-template #experienceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{action}} Experience
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <app-form [formGroup]="experienceForm" [formFields]="experienceFields">
        </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-dark text-white" style="border-radius: 13px;" [disabled]="!experienceForm.valid"
            (click)="executeExperienceAction()">
            {{action}}
        </button>
    </div>
</ng-template>

<ng-template #PreferredJobModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{action}} Interested Job
        </h4>
        <button pButton pRipple type="button" icon="pi pi-plus"
            (click)="addjob(PreferredJobModal)"
            class="p-button-rounded p-button-secondary float-end bg-dark text-white"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <app-form [formGroup]="preferredJobForm" [formFields]="preferredJobFields">
        </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-dark text-white" style="border-radius: 13px;" [disabled]="!preferredJobForm.valid"
            (click)="executePreferredJobAction()">
            {{action}}
        </button>
    </div>
</ng-template>

<ng-template #SkillModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{action}} Skills
        </h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
        <app-form [formGroup]="skillForm" [formFields]="skillFields">
        </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-dark text-white" style="border-radius: 13px;"
            [disabled]="!skillForm.valid" (click)="executeSkillAction()">
            {{action}}
        </button>
    </div>
</ng-template>