<div class="p-5">
    <h2>
        Personal details
    </h2>
    <hr>
    <!-- profile form -->
    <app-form [formFields]="profileFields"
        [formGroup]="profileForm">
    </app-form>

    <!-- education details -->
    <div class="card p-3">
        <div class="d-flex">
            <div class="flex-grow-1 fs-3">
                Education
            </div>
            <div>
                <button class="btn btn-rounded" 
                    (click)="addEducation(educationModal)">
                    <i class="pi pi-plus text-primary"></i>
                </button>
            </div>
        </div>
        <hr>
        <ng-container *ngFor="let education of educationDetails.controls; let id = index">
            <div class="pt-3 d-flex justify-content-start">
                <div class="pt-3">
                    <img src="assets/university.svg"
                        height="50px"
                        width="50px">
                </div>
                <div class="ps-4 d-flex flex-column flex-grow-1">
                    <!-- {{education.value | json}} -->
                    <div class="fs-3 fw-bold">
                        {{education.controls['universityName'].value}}
                    </div>
                    <div class="fs-5">
                        {{education.controls['qualification'].value}} - 
                        {{education.controls['courseName'].value}}
                    </div>
                    <div class="text-muted">
                        {{education.controls['startDate'].value}} - 
                        {{education.controls['endDate'].value}}
                    </div>
                </div>
                <div class="ps-2 pt-3">
                    <button class="btn btn-rounded"
                        (click)="editEducation(educationModal, id)">
                        <i class="pi pi-pencil text-primary"></i>
                    </button>
                    <button class="ps-2 btn btn-rounded-danger"
                        (click)="deleteEducation(id)">
                        <i class="pi pi-trash text-danger"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="pt-3"></div>
    <!-- experience details -->
    <div class="card p-3">
        <div class="d-flex">
            <div class="flex-grow-1 fs-3">
                Experience
            </div>
            <div>
                <button class="btn btn-rounded"
                    (click)="addExperience(experienceModal)">
                    <i class="pi pi-plus text-primary"></i>
                </button>
            </div>
        </div>
        <hr>
        <ng-container *ngFor="let experience of experienceDetails.controls; let id = index">
            <div class="pt-3 d-flex justify-content-start">
                <div class="pt-3">
                    <img src="../../../../../assets/company.png"
                        height="50px"
                        width="50px">
                </div>
                <div class="ps-4 d-flex flex-column flex-grow-1">
                    <div class="fs-3 fw-bold">
                        {{experience.controls['companyName'].value}}
                    </div>
                    <div class="fs-5">
                        {{experience.controls['designation'].value}}
                    </div>
                    <div class="text-muted">
                        Experience: 
                        {{experience.controls['yearOfExperience'].value}} years
                    </div>
                </div>
                <div class="ps-2 pt-3">
                    <button class="btn btn-rounded"
                        (click)="editExperience(experienceModal, id)">
                        <i class="pi pi-pencil text-primary"></i>
                    </button>
                    <button class="ps-2 btn btn-rounded-danger"
                        (click)="deleteExperience(id)">
                        <i class="pi pi-trash text-danger"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- end of profile -->
    <div class="text-end pt-3">
        <button class="btn btn-primary bg-primary"
            [disabled]="!profileForm.valid">
            Complete
        </button>
    </div>
</div>


<!-- Modals -->
<ng-template #educationModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{action}} Education
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
      <app-form [formGroup]="educationForm"
        [formFields]="educationFields"
        >
      </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-primary text-white"
            style="border-radius: 13px;"
            [disabled]="!educationForm.valid"
            (click)="executeEducationAction()">
            {{action}}
        </button>
    </div>
</ng-template>


<ng-template #experienceModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{action}} Experience
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body d-flex justify-content-center">
      <app-form [formGroup]="experienceForm"
        [formFields]="experienceFields"
        >
      </app-form>
    </div>
    <hr>
    <div class="text-end pb-3 pe-3">
        <button class="btn bg-primary text-white"
            style="border-radius: 13px;"
            [disabled]="!experienceForm.valid"
            (click)="executeExperienceAction()">
            {{action}}
        </button>
    </div>
  </ng-template>