
<div class="p-5 card-shadow">
    <!-- app-form -->
    <div class="text-center">
        <h2 class="fw-bold">Please verify you email address</h2>
        <p>
            We've sent a login verification link to your mail address
            <span class="fw-bold">
                {{email}}
            </span>
        </p>
        <img src="../../../../../assets/email-svgrepo-com.svg"
            height="100rem">
        <div class="d-flex justify-content-center pt-4">
            <!-- <p class="pe-2 pt-1">
                Verification status - 
                <span class="badge text-dark bg-warning rounded p-1 fs-6">
                    Pending
                </span>
            </p> -->
            <!-- <button class="btn border-none bg-white border mb-3"
                (click)="getVerificationStatus()">
                <i class="pi pi-sync"></i>
            </button> -->
            <!-- <div class="spinner-border align-start" role="status">
                <span class="sr-only"></span>
            </div> -->
            <!-- <button class="btn border-none bg-white"
                (click)="getVerificationStatus()">
                Check
            </button> -->
        </div>
        <p>Once you verify your mail we will automatically redirect you to next page</p>
    </div>
</div>