<!-- inspiration - https://dribbble.com/shots/15794174-Chakri-Job-Portal-Landing-page-v2/attachments/7604296?mode=media -->

<div class="main">
    <div class="d-flex justify-content-between px-5 pt-2 pb-2" style="background-color: #f4f6ff;">
        <div class="flex-grow-1">
            <app-logo></app-logo>
        </div>
        <div class="pe-3 pt-2">
            <button class="border border-dark fw-bold btn border-none text-dark bg-secondary rounded-pill"
                routerLink="/login">
                    Login
            </button>
        </div>
        <div class="pe-3 pt-2">
            <button class="border btn border-none text-white bg-primary rounded-pill"
                routerLink="/job-seeker/signup">
                    Register
            </button>
        </div>
        <div class="vr"></div>
        <div class="ps-3 pt-2 dropdown">
            <button class="btn border border-dark bg-secondary border-none rounded-pill">
                For employers
                <i class="pi pi-angle-down"></i>
            </button>
            <div class="dropdown-content border border-rounded">
                <a routerLink="/login">
                    Login
                    <!-- <i class="pi pi-sign-in"></i> -->
                </a>
                <a routerLink="/employer/signup">Register</a>
            </div>
        </div>
    </div>
    

    <div class="vh-100 pt-5">
        <div class="text-center">
            <div class="pt-4"></div>
            <p class="fw-bold">It's simple and smart</p>
            <h1 class="fw-bold">Search | Find | Apply</h1>
            
            <div class="d-flex justify-content-center pt-4">
                <div class="pe-4">
                    <img src="assets/job.svg" height="40px" width="40px" alt="">
                    {{totalJobCount}} Job
                </div>
                <div>
                    <img src="assets/company.png" height="40px" width="40px" alt="">
                    {{totalCompanyCount}} Companies
                </div>
            </div>

            <div class="pt-5"></div>
            <app-search-bar [form]="searchBarForm"
                [searchBarData]="searchBarData"
                (dataEmitter)="receiveSearchData()"></app-search-bar>
        </div>
    </div>
</div>
