<!-- inspiration - https://dribbble.com/shots/15794174-Chakri-Job-Portal-Landing-page-v2/attachments/7604296?mode=media -->

<div class="main">
    <div class="d-flex justify-content-between px-5 pt-2 pb-2 bg-dark">
        <div class="flex-grow-1">
            <app-logo></app-logo>
        </div>
        <div class="pe-3 pt-2">
            <button class="fw-bold btn border-none text-dark bg-white rounded-pill"
                routerLink="/login">
                    Login
            </button>
        </div>
        <div class="pe-3 pt-2">
            <button class="btn border-none text-white bg-secondary rounded-pill"
                routerLink="/job-seeker/signup">
                    Register
            </button>
        </div>
        <div class="vr"></div>
        <div class="ps-3 pt-2 dropdown">
            <button class="btn border border-dark bg-white border-none rounded-pill">
                For employers
                <i class="pi pi-angle-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/login">
                    Login
                    <!-- <i class="pi pi-sign-in"></i> -->
                </a>
                <a routerLink="/employer/signup">Register</a>
            </div>
        </div>
    </div>
    

    <div class="pt-5 bg-white">
        <div class="text-center">
            <div class="pt-4"></div>
            <p class="fw-bold">It's simple and smart</p>
            <h1 class="fw-bold">Search | Find | Apply</h1>
            
            <div class="d-flex justify-content-center pt-4">
                <div class="pe-4">
                    <img src="assets/job.svg" height="40px" width="40px" alt="">
                    {{totalJobCount}} Job
                </div>
                <div class="pe-4">
                    <img src="assets/company.png" height="40px" width="40px" alt="">
                    {{totalCompanyCount}} Companies
                </div>
                <div>
                    <img src="assets/job-seeker.jpg" height="40px" width="40px" alt="">
                    {{jobSeekerCount}} Job Seekers
                </div>
            </div>

            <div class="pt-5"></div>

            <div class="d-flex justify-content-center">
                <form [formGroup]="searchBarForm">
                    <div class="card">
                        <div class="d-flex justify-content-center p-2">

                            <!-- search icon -->
                            <div class="pt-2">
                                <button pButton 
                                    pRipple 
                                    type="button"
                                    [disabled]="true"
                                    icon="pi pi-search"
                                    class="p-button-rounded p-button-text mr-2 mb-2">
                                </button>
                            </div>

                            <!-- designation -->
                            <input type="text"
                                pInputText
                                formControlName="designation"
                                class="border-0 input"
                                list="designation-datalist"
                                placeholder="Search designation">
                            <datalist id="designation-datalist"
                                class="datalist">
                                <ng-container *ngFor="let designation of designations">
                                    <option [value]="designation">
                                        <span style="text-transform: capitalize;">
                                            {{designation}}
                                        </span>
                                    </option>
                                </ng-container>
                            </datalist>

                            <!-- experience -->
                            <div class="pe-4 d-flex">
                                <select class="input bg-white pe-5"
                                    [ngClass]="isExperiencePlaceholder ? 'text-muted': 'text-dark'"
                                    formControlName="experience"
                                    (change)="onExperienceChnage($event)">
                                    <option *ngFor="let option of experience; let i = index"
                                        [value]="option.value"
                                        class="text-dark bg-white"
                                        [disabled]="i == 0">   
                                    {{option.label}}
                                </option>
                                </select>
                            </div>

                            <!-- location -->
                            <div class="pe-4 d-flex">
                                <select class="input bg-white pe-5"
                                    [ngClass]="isLocationPlaceholder ? 'text-muted': 'text-dark'"
                                    formControlName="location"
                                    (change)="onLocationChange($event)">
                                    <option *ngFor="let option of location; let i = index"
                                        [value]="option.value"
                                        class="text-dark bg-white"
                                        [disabled]="i == 0">   
                                    {{option.label}}
                                </option>
                                </select>
                            </div>


                            <button pButton
                                class="p-button-raised p-button-rounded px-4 fs-4 bg-dark text-white"
                                type="button"
                                (click)="search()">
                                    <i class="pi pi-search pe-3"></i>
                                    Search
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
