<div class="container">
    <div class="row mb-5">
        <div class="d-flex gap-5 flex-wrap">

            <!-- job count -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>Total Jobs</h3>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-briefcase bg-dark text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    {{totalJobs}}
                </div>
            </div>

            <!-- application -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>Total Application</h3>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-book bg-dark text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    22
                </div>
            </div>

            <!-- shortlisted -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h3>Shortlisted</h3>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-check-square bg-dark text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    22
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-column gap-5">
            <div>
                <h3 class="fw-bold">
                    Job Application Status
                </h3>
                <div echarts [options]="barChartOptions" class="w-100"></div>
            </div>

            <div>
                <h3 class="fw-bold col-6">
                    All Jobs
                </h3>
                <div echarts [options]="pieChartOptions" class="w-100"></div>
            </div>
        </div>
    </div>

</div>

