<div>

    <div class="d-flex">
        <div class="card card-shadow p-3 text-center">
            <p-knob [(ngModel)]="totalJobs"></p-knob>
            <p class="fw-bold fs-3">
                Jobs Created
            </p>
        </div>
        <div class="pe-4"></div>
        <div class="card card-shadow p-3 text-center">
            <p-knob [(ngModel)]="totalHiring"></p-knob>
            <p class="fw-bold fs-3">
                Total hiring
            </p>
        </div>
    </div>
    
</div>