<div class="container">
    <div class="row mb-5">
        <div class="d-flex gap-5 flex-wrap">

            <!-- job count -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Total Jobs</h4>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-briefcase bg-orange text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    {{totalJobs}}
                </div>
            </div>

            <!-- application -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Total Application</h4>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-book bg-orange text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    {{totalApplication}}
                </div>
            </div>

            <!-- shortlisted -->
            <div class="card-shadow p-4 flex-fill">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Shortlisted Candidates</h4>
                    </div>
                    <div class="mt-2">
                        <i class="pi pi-check-square bg-orange text-white px-2 py-1 rounded"></i>
                    </div>
                </div>
                <div class="fs-2 fw-bold">
                    {{totalShortlisted}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ps-4 d-flex gap-3">
            <div class="col-6">
                <h3 class="fw-bold text-orange mb-3">
                    Job Application Status
                </h3>
                <ng-container *ngIf="isBarChartDataLoaded;then barChart; else barChartPlaceholder"></ng-container>
                <ng-template #barChartPlaceholder>
                    <div class="card-shadow p-3">
                        <p-skeleton height="400px"></p-skeleton>
                    </div>
                </ng-template>
                <ng-template #barChart>
                    <div class="card-shadow p-3"
                        *ngIf="!isBarChartHasData">
                        No data to display statistics
                    </div>
                    <div class="card-shadow p-3"
                        *ngIf="isBarChartHasData">
                        <div echarts [options]="barChartOptions" class="w-100"></div>
                    </div>
                </ng-template>
            </div>

            <div class="col-6">
                <h3 class="fw-bold col-6 text-orange mb-3">
                    Job Rejection Rate
                </h3>
                <ng-container *ngIf="isPieChartDataLoaded; then pieChart; else pieChartPlaceholder"></ng-container>
                <ng-template #pieChartPlaceholder>
                    <div class="card-shadow p-3">
                        <p-skeleton height="400px"></p-skeleton>
                    </div>
                </ng-template>
                <ng-template #pieChart>
                    <div class="card-shadow p-3"
                        *ngIf="!isPieChartHasData">
                        No data to display statisics
                    </div>
                    <div class="card-shadow p-3"
                        *ngIf="isPieChartHasData">
                        <div echarts [options]="pieChartOptions" class="w-100"></div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

</div>

