/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #FAF3E3;
}

:root {
    /* --primary: #ff0038; */
    --primary: #9d00d6;
    --secondary: #7289da;
    --warning: #ffb31d;
    --dark: #171b34;
    /* --dark: orange; */
    --success: #8cffa7;
    --orange: #f17921;
    /* --orange-light: #a4a3a0; */
    --orange-light: #e7cea4;
}


input:focus,
textarea:focus,
select:focus {
    /* border: 3px solid var(--ornage-light) !important; */
    border: 3px solid var(--orange-light) !important;
    box-shadow: none !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-orange-light {
    background-color: var(--orange-light) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-success {
    background-color: var(--success) !important;
    color: var(--dark);
}

.bg-orange {
    background-color: var(--orange) !important;
    color: #fff;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

/* .text-primary {
    color: var(--primary) !important;
} */

.text-orange {
    color: var(--orange);
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.main {
    /* background-image: linear-gradient(to right bottom, #171b34, #51485e, #8b7c8d, #c5b6bf, #fef5f8); */
    background-color: var(--secondary);
    color: var(--dark) !important;
}

.btn-orange,
.btn-orange:hover,
.btn-orange:disabled,
.btn-orange:focus {
    background-color: var(--orange);
    color: #fff;
}

.btn-orange:disabled {
    opacity: .7;
}

.required::after {
    content: ' *';
    color: #ff0000;
}

/* width */

.w {
    width: 450px;
}

.card-shadow {
    /* -webkit-box-shadow: 1px -2px 24px 2px #5C5C5C;
    -moz-box-shadow: 1px -2px 24px 2px #5C5C5C; */
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

.raise:hover,
.raise:focus {
    -webkit-box-shadow: 14px 10px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 10px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 10px 5px -1px rgba(0, 0, 0, 0.75);
    transform: translateY(-0.20em);
}

.active:hover,
.active:focus {
    color: var(--primary);
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    /* height: 2em;
    width: 2em; */
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(5, 5, 5, 0.53); */
}

.blur {
    filter: blur(4px);
}

.border-none {
    box-shadow: none !important;
    border-style: none !important;
}

.border-none:focus {
    border-style: none !important;
    box-shadow: none !important;
}


.vl {
    border-left: 2px solid #aeaeb4;
}

.status {
    padding: 2px;
    border-radius: 2px;
    font-size: smaller;
}

.status-pending {
    background-color: var(--primary);
    color: var(--secondary);
}

.status-success {
    background-color: var(--success);
    color: var(--dark);
}

.pointer {
    cursor: pointer;
}

.scrollable {
    overflow-y: scroll;
}

.profile {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.h-100-vh {
    height: 100vh;
}

/* sidebar */

.sidebar {
    width: 20vh;
    /* animation: hideMe 200ms forwards; */
}

@keyframes hideMe {
    0% {
        width: 0;
    }

    100% {
        width: 23vh;
    }
}

/* .navbar-fixed {
    width: 77vh;
} */



.navbar-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.side-nav-item:hover {
    color: var(--secondary);
}

.spacer {
    flex: 1 1;
}

.fixed {
    position: fixed;
    z-index: 1;
}


/* dropdown on hover */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border-radius: 1rem; */
    z-index: 1;
}

.dropdown-content a {
    color: var(--dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dashboard-title {
    padding: 20px 30px;
    border: 1px solid #ededed;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    background-color: #f8f9fa;
    width: 350%;
    background-size: cover;
}

.datalist {
    position: absolute;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
    max-height: 10rem;
    overflow-y: auto
}

.option {
    text-transform: capitalize;
}

.signup-profile {
    width: 10rem;
    height: 10rem;
    border: var(--dark) solid 2px;
}

/* .profile-wrapper {
    position: relative;
    width: fit-content;
}

.profile-wrapper img {
    display: block;
}

.profile-wrapper button {
    position: absolute;
    bottom: 0;
    right: .5rem;
} */

.animate {
    transition: all 700ms ease-in-out;
}



.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}