<div class="card-shadow p-4">
    <div>
        <ng-container *ngIf="isCoverImageLoaded; then coverImage; else coverImageLoader"></ng-container>
        <ng-template #coverImageLoader>
            <img id="coverpicture" class="rounded-top text-white d-flex flex-row cover-picture w-100"
                src="/assets/defaultCoverPicture.jpg" (click)="openFileTrigger(coverPicture)" tooltipPosition="bottom"
                pTooltip="Update Cover picture">
        </ng-template>
        <ng-template #coverImage>
            <img id="coverpicture" class="rounded-top text-white d-flex flex-row cover-picture w-100"
                [src]="backgroundImage" (click)="openFileTrigger(coverPicture)" pTooltip="Update Cover picture"
                tooltipPosition="bottom">
        </ng-template>
        <ng-container *ngIf="isImageLoaded; then image; else imageLoader"></ng-container>
        <ng-template #imageLoader>
            <!-- <img src="/assets/defaultProfilePicture.png"
                class="inner-image rounded-circle img-fluid img-thumbnail pointer"
                style="width: 150px; height:150px;  margin-left: 2%; margin-top:4%;"
                (click)="openFileTrigger(fileTigger)" pTooltip="Update Profile picture"> -->
                <p-skeleton shape="circle" height="150px" width="150px"></p-skeleton>
        </ng-template>
        <ng-template #image>
            <img [src]="imageUrl" class="inner-image rounded-circle img-fluid img-thumbnail pointer"
                style="width: 150px; height:150px; margin-left: 2%; margin-top:4%;"
                (click)="openFileTrigger(fileTigger)" pTooltip="Update Profile picture">
        </ng-template>
        <input type="file" (change)="updateProfilePicture($event)" accept=".png,.jpg,.jpeg" style="display: none;"
            #fileTigger>

        <input type="file" (change)="updateCoverPicture($event)" accept=".png,.jpg,.jpeg" style="display: none;"
            #coverPicture>
    </div>

    <!-- Profile Details -->
    <div class="mt-5">
        <div class="pt-3 d-flex justify-content-between flex-wrap">
            <div class="fw-bold fs-4 text-orange">
                {{jobSeekerArray.firstName | titlecase}} {{jobSeekerArray.lastName | titlecase}}
            </div>
            <div class="">
                <button class="btn btn-orange rounded-pill me-3" (click)="updateProfile(profileModal)">
                    <i class="pi pi-pencil"></i>
                    Edit Profile
                </button>
                <input type="file" (change)="uploadResume($event)" accept=".pdf" style="display: none;" #resumeTigger>
                <div class="btn-group me-2" role="group">
                    <button id="resume" type="button" class="btn btn-dark dropdown-toggle rounded-pill"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="pi pi-file"></i>
                        Resume
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item pointer" (click)="openFileTrigger(resumeTigger)">
                                <i class="pi pi-cloud-upload"></i>
                                Upload
                            </a>
                        </li>
                        <li><a class="dropdown-item pointer" (click)="getResume()">
                                <i class="pi pi-cloud-download"></i>
                                Download
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <i class="pi pi-envelope me-1 mt-1"></i>
            {{email}}
        </div>

        <div>
            <i class="pi pi-calendar me-1"></i>
            {{jobSeekerArray.dateOfBirth | date}}
        </div>
    </div>

    <div class="mt-4">
        <h5 class="fw-bold text-orange mb-3">
            About
        </h5>
        <div>
            {{jobSeekerArray.about}}
        </div>
    </div>

    <!-- skills -->
    <div class="mt-4">
        <h5 class="fw-bold text-orange mb-3">
            Skills
        </h5>
        <ng-container *ngFor="let skill of skillArray; let i = index">
            <span class="border rounded-pill border-dark px-2 py-1 me-2 my-2 skill-badge"
                (mouseover)="showDelete(i)">
                {{skill.skillTitle}}
                <i class="pi pi-trash text-danger pointer skill-trash"
                    (click)="deleteSkill(skill.skillId)">
                </i>
            </span>
        </ng-container>
        <p class="small pointer mt-2 text-primary"
            (click)="addskill(SkillModal)">
            <i class="pi pi-plus-circle"></i>
            <span>
                Add skill
            </span>
        </p>
    </div>

    <!-- preferred job -->
    <div class="mt-4">
        <h5 class="fw-bold text-orange mb-3">
            Preferred Jobs
        </h5>
        <ng-container *ngFor="let preferredJob of preferredJobArray; let i = index">
            <span class="border rounded-pill border-dark px-2 py-1 me-2 skill-badge"
                (mouseover)="showDelete(i)">
                {{preferredJob.jobTitle}}
                <i class="pi pi-trash text-danger pointer skill-trash"
                    (click)="deleteJob(preferredJob.preferredJobId)">
                </i>
            </span>
        </ng-container>
        <p class="small pointer mt-2 text-primary"
            (click)="addjob(PreferredJobModal)">
            <i class="pi pi-plus-circle"></i>
            <span>
                Add preferred job
            </span>
        </p>
    </div>

    <!-- education and experience -->
    <div class="row mt-4">
        <!-- education -->
        <div class="col">
            <h5 class="fw-bold text-orange mb-3">
                Education
            </h5>
            <ng-container *ngFor="let education of educationArray">
                <div class="vtl">
                <div class="event">
                    <h5>
                        {{education.qualification}} {{education.courseName}}
                        <span class="small ps-1 pointer text-orange"
                            (click)="editEducation(educationModal, education.educationDetailId)">
                            <i class="pi pi-pencil"></i>
                        </span>
                        <span class="small ps-1 pointer text-danger"
                            (click)="deleteEducation(education.educationDetailId)">
                            <i class="pi pi-trash"></i>
                        </span>
                    </h5>
                    <span class="d-block small fw-bold text-orange">
                        {{education.universityName}}
                    </span>
                    <span class="small text-muted">
                        {{education.startDate | date}} - {{education.completionDate | date}}
                    </span>
                </div>
                </div>
            </ng-container>
            <p class="small pointer mt-2 pointer text-primary"
                (click)="addEducation(educationModal)">
                <i class="pi pi-plus-circle"></i>
                <span>
                    Add education
                </span>
            </p>
        </div>

        <div class="col">
            <h5 class="fw-bold text-orange mb-3">
                Experience 
            </h5>
            <ng-container *ngFor="let experience of experienceArray">
                <div class="vtl">
                <div class="event">
                    <h5>
                        {{experience.designation}}
                        <span class="ps-2 pointer text-orange"
                            (click)="editExperience(experienceModal, experience.experienceDetailId)">
                            <i class="pi pi-pencil"></i>
                        </span>
                        <span class="small ps-1 pointer text-danger"
                            (click)="deleteExperience(experience.experienceDetailId)">
                            <i class="pi pi-trash"></i>
                        </span>
                    </h5>
                    <span class="d-block small fw-bold">
                        {{experience.previousCompanyName}}
                    </span>
                    <span class="small text-muted">
                        {{experience.startDate | date}} - {{experience.toDate | date}}
                    </span>
                </div>
                </div>
            </ng-container>
            <p class="small pointer mt-2 text-primary pointer"
                (click)="addExperience(experienceModal)">
                <i class="pi pi-plus-circle"></i>
                <span>
                    Add experience
                </span>
            </p>
        </div>

        <ng-template #educationModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{action}} Education
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <app-form [formGroup]="educationForm" [formFields]="educationFields">
            </app-form>
        </div>
        <hr>
        <div class="text-end pb-3 pe-3">
            <button class="btn btn-orange px-2 py-1 rounded-pill"  [disabled]="!educationForm.valid"
                (click)="executeEducationAction()">
                {{action}}
            </button>
        </div>
    </ng-template>
    <ng-template #experienceModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{action}} Experience
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <app-form [formGroup]="experienceForm" [formFields]="experienceFields">
            </app-form>
        </div>
        <hr>
        <div class="text-end pb-3 pe-3">
            <button class="btn btn-orange px-2 py-1 rounded-pill"  [disabled]="!experienceForm.valid"
                (click)="executeExperienceAction()">
                {{action}}
            </button>
        </div>
    </ng-template>
    <ng-template #profileModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{action}} Profile
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <app-form [formGroup]="profileForm" [formFields]="profileFields">
            </app-form>
        </div>
        <hr>
        <div class="text-end pb-3 pe-3">
            <button class="btn btn-orange px-2 py-1 rounded-pill"  [disabled]="!profileForm.valid"
                (click)="executeProfileAction()">
                {{action}}
            </button>
        </div>
    </ng-template>
    <ng-template #PreferredJobModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                {{action}} Interested Job
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-form [formGroup]="preferredJobForm" [formFields]="preferredJobFields">
            </app-form>
        </div>
        <hr>
        <div class="text-end pb-3 pe-3">
            <button class="btn btn-orange px-2 py-1 rounded-pill"  [disabled]="!preferredJobForm.valid"
                (click)="executePreferredJobAction()">
                {{action}}
            </button>
        </div>
    </ng-template>
    <ng-template #SkillModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Add Skills
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <app-form [formGroup]="skillForm" [formFields]="skillFields">
            </app-form>
        </div>
        <hr>
        <div class="text-end pb-3 pe-3">
            <button class="btn btn-orange px-2 py-1 rounded-pill"  [disabled]="!skillForm.valid"
                (click)="executeSkillAction()">
                Add
            </button>
        </div>
    </ng-template>